PORT=5000
NODE_ENV=production
CLIENT_URL=https://gamezone-ben.up.railway.app
WEB_APP_URL=https://gamezone-ben.up.railway.app
TELEGRAM_BOT_TOKEN=8933892491:AAHud2vFLTILg_iR-7Edq_E5ycaqr8eQv8s
JWT_SECRET=super_secret_gamezone_key
